        body {
            background-color: rgb(252, 193, 106);
        }

        $hauteur: 200px;
        $largeur: 200px;
        $profondeur: 20px;

        .wrapper-center {
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* Conteneur avec perspective */
        .scene {
            background-color: bisque;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 300px;
            height: 300px;
            
        }

        .little-scene {
            background-color: rgb(59, 33, 1);

            display: flex;
            justify-content: center;
            align-items: center;

            width: $largeur;
            height: $hauteur;
            perspective: 800px;
        }

        /* Pavé en lui-même */
        .cube {
            width: $largeur;
            height: $hauteur;
            
            position: absolute;

            transform-style: preserve-3d;
            /* 1) On place l'origine de rotation sur l'arête gauche (milieu hauteur) */
            transform-origin: 0% 50%;
            /* 2) On applique la rotation */
            transform:rotateY(0deg);
            transition: transform 1s ease;
        }

        .scene:hover .cube{
            transform: rotateY(-130deg);
            }

        /* Styles communs à toutes les faces */
        .face {
            position: absolute;
            font-size: 1.5rem;
            font-weight: bold;
            color: #fff;
            text-align: center;
            line-height: 1;
            /* on gère la hauteur dans chaque face */
            border: 2px solid rgb(255, 255, 255);
        }

        .front,
        .back {
            width: $largeur;
            height: $hauteur;
        }

        .front {
            transform: translateZ(calc($profondeur / 2));
            background: rgba(0, 0, 0, 1);
        }

        .back {
            transform: rotateY(180deg) translateZ(calc($profondeur / 2));
            background: rgb(0, 0, 0);
        }

        .right,
        .left {
            width: $profondeur;
            height: $hauteur;
        }

        .right {
            transform: rotateY(90deg) translateZ($largeur - (calc($profondeur / 2)));
            background: rgb(255, 0, 0);
        }

        .left {
            transform: rotateY(-90deg) translateZ(calc($profondeur / 2));
            background: rgb(0, 255, 0);
        }

        .top,
        .bottom {
            width: $largeur;
            height: $profondeur;
        }

        .top {
            transform: rotateX(90deg) translateZ($profondeur / 2);
            background: rgb(25, 0, 255);
        }

        .bottom {
            transform: rotateX(-90deg) translateZ($largeur - (calc($profondeur / 2)));
            background: rgba(255, 0, 255, 0.6);
        }